body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #E7E9ED;
    margin: 0;
    padding: 20px;
}

/* HOMEPAGE STYLES */

.logo {
    font-size: 48px;
    color: #333;
    margin-bottom: 40px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.playerInput {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.player input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
}

.startBtn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.startBtn:hover {
    background-color: #555;
}

/* GAME PAGE STYLES */
.app {
    max-width: 600px;
    margin: 0 auto;
}  

h2{
    color: #333;
    text-align: left;
}

.game{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game .board table{
    border-collapse: collapse;
}
.game .board td{
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
.game .board td:hover{
    background-color: #f0f0f0;
}
