body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #E7E9ED;
    margin: 0;
    padding: 20px;
}

.logo {
    font-size: 48px;
    color: #333;
    margin-bottom: 40px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.playerInput {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.player input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
}

.startBtn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}